#a{
	font-size:30px;
	color:skyblue;}
#b{
	font-size:20px;
	color:skyblue;}
body{
	background-color:black;	}
li,#p{
	color:#ffdead;
}
#c{
	color:#ffdead;	
}
b{
	color:yellow;
}
#s{
	height:180px;
	width:300px;	
}#t{
	height:180px;
	width:340px;	
}
.w{
	color:red;}